body {
    background: linear-gradient(to bottom, #87CEEB, #3636f5);
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.button {
    border: none;
    background: #4285f4;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

.button:hover {
    color: #7de6f8;
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
}